{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'usergeo/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'usergeo/css/main.css' %}">
    <script src="{% static 'usergeo/js/jquery.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="{% static 'usergeo/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'usergeo/js/main.js' %}"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'usergeo:index' %}">USERGEO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'usergeo:profile' %}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'usergeo:logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'usergeo:login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'usergeo:register' %}">Register</a>
                </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>

<br>
<div class="container">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" alert="alert">
        <button class="btn btn-close" type="button">

        </button>
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% block content %}
    {% endblock %}
</div>

</body>
</html>