{% extends 'usergeo/base.html' %}

{% block content %}

<h2 class="text-center">Login</h2>
<hr>

<div>
    <form method="post">
        {% csrf_token %}
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" name="username" placeholder="Username">
            <label for="floatingInput">Username</label>
        </div>
        <br><br>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        <br><br>
        <input class="btn btn-secondary" type="submit"/>
    </form>
</div>

{% endblock %}