{% extends 'usergeo/base.html' %}

{% block content %}

<h2 class="text-center">Register</h2>
<hr>

<form method="post" action="{% url 'usergeo:register' %}">
    {% csrf_token %}
    {% if form.errors %}
        <div class="alert alert-warning alert-dismissible fade show" alert="alert">
        <button class="btn btn-close" type="button">

        </button>
        <h5>Your form has the following errors:</h5>
            {% for field in form %}
                {% if field.errors %}
                {{ field.errors }}
                {% endif %}
            {% endfor %}
    </div>
    {% endif %}

    {{ form.as_p }}
    <input type="submit" value="Register" class="btn btn-secondary">
</form>


{% endblock %}